<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        {{>head}}
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{message}}</p>
        </div> 
        {{>footer}}
    </body>
</html>